.DS_Store

# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

supabase/.temp/cli-latest
supabase/.temp/gotrue-version
supabase/.temp/pooler-url
supabase/.temp/postgres-version
supabase/.temp/project-ref
supabase/.temp/rest-version
supabase/.temp/storage-migration
supabase/.temp/storage-version
